.app.dark {
    --bg-color: darkblue;
    --inverted-bg-color: white;
    --primary-color: green;
    --secondary-color: brightGreen;
    --inverted-primary-color: darkblue;
    --inverted-secondary-color: brightBlue;
}

:root {
    --bg-color: white;
    --inverted-bg-color: darkblue;
    --primary-color: blue;
    --secondary-color: lightblue;
    --inverted-primary-color: green;
    --inverted-secondary-color: brightGreen;
}
